<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="accountForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-secondary">Following information is publicly displayed, be careful!</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Name</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>   
                    <input
                    [formControlName]="'name'"
                        matInput>
                </mat-form-field>
            </div>   
        </div>
        <!-- Divider -->
        <div class="my-10 border-t"></div>
        <mat-label>Profile picture </mat-label>
        <div>  
            <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
                <div class="text-wrapper">
                    <div class="centered">

                        <input type="file" name="file" id="file" (change)="onFileChange($event.target.files)">
                        <label for="file"><span class="textLink"> <mat-icon svgIcon="heroicons_outline:cloud-upload"></mat-icon>Select User image</span> or Drop it here!</label>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div *ngIf="photoUrl || file" [ngIfElse]="elseUrl">
            <ng-template [ngIf]="!uploaded">
                <mat-list>
                    <h3 mat-subheader>Files</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>
                            <img *ngIf="file" style="width: 50px; height: auto;  margin: 5px 0;"
                                src="{{apiUrl+ 'storage/'+file}}" alt="">
                        </mat-icon>
                        <h4 mat-line></h4>
                        <button mat-raised-button color="warn" (click)="deleteFile()">Delete</button>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </ng-template>
            <ng-template [ngIf]="uploaded">
                <mat-list>
                    <h3 mat-subheader>Files</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon *ngIf="photoUrl">
                            <img #prewviewImage *ngIf="file" id="prewiew" style="width: 50px; height: auto;  margin: 5px 0;" [src]='photoUrl' alt="">
                        </mat-icon>
                        <h4 mat-line></h4>
                        <button mat-raised-button color="warn" (click)="deleteFile()">Delete</button>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </ng-template>
        </div>
        <ng-template #elseUrl>
        </ng-template>
    </form>

        <!-- Divider -->
        <div class="my-10 border-t"></div>
  <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'"
                (click)="save()"
                >Save
            </button>
        </div>

</div>
<img #prewviewImage  id="prewiew" style="width: 50px; height: auto;  margin: 5px 0;" [src]='photoUrl' alt="test">

