<div
    *ngIf="taskById$ | async as taskById"
    class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-160 -m-6 overflow-y-auto"
>
    <!-- Header -->
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
    >
        <div class="text-lg font-medium">
            {{ data === "Task" ? "Task" : "Subtask" }}
        </div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>

    <!-- Card form -->
    <form
        class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto"
        [formGroup]="cardForm"
    >
        <ng-container   *ngIf="taskFile$ | async as file">
            <div class="w-40 h-40 m-3 pb-3 d-flex justify-content-center align-items-center">
                <img [src]="apiUrl+'storage/' + file.file">
            </div>
        </ng-container>
        <div
        class="grid grid-cols-2 gap-4 w-full mt-8"
        *ngIf="taskFile$ | async as file"
    >
    
        <a
            class="flex-auto"
            mat-flat-button
            [color]="'primary'"
            [href]="apiUrl + 'storage/' + file.file"
            [download]="file.file"
            target="_blank"
            >Download</a
        >
        <button
            (click)="deleteFile(task2.id)"
            class="flex-auto"
            mat-stroked-button
        >
            Delete
        </button>
    </div>
        <!-- Title -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
            <mat-label>Title</mat-label>
            <textarea
                matInput
                [formControlName]="'title'"
                [rows]="1"
                [value]="'taskById.title'"
                cdkTextareaAutosize
                [cdkAutosizeMinRows]="1"
            >
            </textarea>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
            <mat-label>Description</mat-label>
            <textarea
                matInput
                [formControlName]="'description'"
                [rows]="1"
                cdkTextareaAutosize
                [cdkAutosizeMinRows]="1"
            >
            </textarea>
        </mat-form-field>

        <!-- File -->
        <input
            style="display: none"
            type="file"
            class="file-input"
            (change)="onFileChange($event.target.files)"
            #fileUpload
        />

        <div class="file-upload">
            {{ fileName }}

            <button
                mat-mini-fab
                color="primary"
                class="upload-btn"
                (click)="fileUpload.click()"
            >
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <!-- Due date -->
        <div>
            <div class="font-medium">Deadline</div>

            <div
                class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
                [ngClass]="{
                    'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700':
                        !cardForm.get('deadline').value,
                    'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500':
                        cardForm.get('deadline').value &&
                        !isOverdue(cardForm.get('deadline').value),
                    'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500':
                        cardForm.get('deadline').value &&
                        isOverdue(cardForm.get('deadline').value)
                }"
                (click)="dueDatePicker.open()"
            >
                <mat-icon
                    class="icon-size-5 text-current"
                    [svgIcon]="'heroicons_solid:calendar'"
                ></mat-icon>
                <span class="ml-2 text-md font-medium">
                    <ng-container *ngIf="cardForm.get('deadline').value">{{
                        cardForm.get("deadline").value | date: "longDate"
                    }}</ng-container>
                    <ng-container *ngIf="!cardForm.get('deadline').value"
                        >Not set</ng-container
                    >
                </span>
                <mat-form-field
                    class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none"
                >
                    <input
                        matInput
                        [formControlName]="'deadline'"
                        [matDatepicker]="dueDatePicker"
                    />
                    <mat-datepicker #dueDatePicker>
                        <mat-datepicker-actions>
                            <button
                                mat-button
                                (click)="
                                    cardForm.get('deadline').setValue(null)
                                "
                                matDatepickerCancel
                            >
                                Clear
                            </button>
                            <button
                                mat-flat-button
                                [color]="'primary'"
                                matDatepickerApply
                            >
                                Select
                            </button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
