
<div class="chip-list-wrapper">
  <!-- <mat-chip-list #chipList>
    <ng-container *ngFor="let select of selectData">
      <mat-chip class="cardinal-colors" (click)="removeChip(select)">
        {{ select.name }}
        <mat-icon class="mat-chip-remove">cancel</mat-icon>
      </mat-chip>
    </ng-container>
  </mat-chip-list> -->
</div>

<mat-form-field class="full-width">
  <input matInput type="text"
  [placeholder]="placeholder"
  [matAutocomplete]="auto"
  [formControl]="selectControl"
  (input)="filter($event.target.value)"
  >
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  <ng-container *ngIf="filteredData | async as users">
    <mat-option *ngFor="let user of users">
      <div (click)="optionClicked($event, data)">
        <mat-checkbox [checked]="false" 
          (change)="toggleSelection(user)" 
          (click)="$event.stopPropagation()">
          {{ user.name }}
        </mat-checkbox>
      </div>
    </mat-option>
    
    <mat-option *ngIf="!users?.length">
      No result
    </mat-option>
  </ng-container>
</mat-autocomplete>
