<div class="flex flex-auto" *ngIf="subtaskSelected$ | async as task">
   <div
       class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
   >

      <!-- Header -->
      <div class="flex items-center justify-between -mt-3 -ml-4">
         <!-- Mark as ... button -->
         <button class="pr-4 pl-3.5" mat-button (click)="toggleCompleted()">
             <!-- Mark as incomplete -->
             <ng-container>

                <app-user-profile [image]="task.user.user_image" [name]="task.user.name" [color]="task.user.color"></app-user-profile>

                 
                 <span>- Created by</span>
             </ng-container>
         </button>
         <div class="flex items-center">
             <!-- More menu -->
             <button mat-icon-button (click)="deleteSubtaskTask()">
                 <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
             </button>

             <!-- Close button -->
             <button mat-icon-button (click)="closeTaskDetails()">
                 <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
             </button>
         </div>
     </div>
     <br />
     <h1 style="font-size: 22px;word-break: break-all;">{{ task.title }}</h1>
     <mat-divider class="mt-6"></mat-divider>


<!-- 
<div class="relative flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full priority_class"
                
   [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !task.deadline,
           'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': task.deadline && !isOverdue(task.deadline) || task.status?.name === 'Done',
           'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': task.deadline && isOverdue(task.deadline) && task.status?.name !== 'Done' }"
           (click)="dueDatePicker.open()">
   <mat-icon class="icon-size-5 text-current"
       [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
   <span class="ml-2 text-md font-medium">
       <ng-container *ngIf="subtaskDeadline">{{subtaskDeadline |
           date:'LLL dd yyyy'}}</ng-container>
       <ng-container *ngIf="!subtask.deadline">Not set</ng-container>
   </span>

   <mat-form-field
       class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
       <div [formGroup]="myGroup">
           <input matInput [formControlName]="'deadline'" [matDatepicker]="dueDatePicker">
         </div>
       <mat-datepicker #dueDatePicker>
           <mat-datepicker-actions>
               <button class="" mat-flat-button [color]="'primary'"
               (click)="updateField()"
                   matDatepickerApply>Select
               </button>
           </mat-datepicker-actions>
       </mat-datepicker>
   </mat-form-field>
</div> -->

   </div>
</div>