<div style="background-color:rgb(241,245,249)"
class="flex-auto p-6 sm:p-8 sm:pt-4 overflow-y-auto"
cdkScrollable>

<!-- Lists -->
<div
    class="flex"
    cdkDropList
    [cdkDropListData]="allTasks$ | async"
    [cdkDropListOrientation]="'horizontal'"
    (cdkDropListDropped)="listDropped($event)">

    <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
    <div
        class="flex items-start"
        cdkDropListGroup>

        <!-- List -->
        <ng-container *ngFor="let list of allTasks$ | async; trackBy: trackByFn">
            <div
                class="flex-0 w-72 p-2 rounded-2xl bg-default"
                >

                <div
                    class="flex items-center justify-between"
                    >
                    <div class="flex items-center w-full py-2 px-3 rounded-md cursor-text border border-transparent focus-within:bg-white focus-within:shadow-sm focus-within:border-primary dark:focus-within:bg-gray-900">
                        <input
                            class="w-full font-medium leading-5 bg-transparent"
                            disabled
                            [value]="list.status.name"
                            >
                    </div>
                    <div class="flex items-center justify-center min-w-6 ml-4 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                        {{list.tasks.length}}
                    </div>
                    <!-- <div class="ml-1">
                        <button
                            class="w-8 h-8 min-h-8"
                            mat-icon-button
                            [matMenuTriggerFor]="listMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #listMenu="matMenu">
                            <button
                                mat-menu-item
                                (click)="renameList(listTitleInput)">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                Rename list
                            </button>
                            <button
                                mat-menu-item
                                (click)="deleteList(list.status.id)">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                Delete list
                            </button>
                        </mat-menu>
                    </div> -->
                </div>

                <!-- Cards -->
                <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                    <div
                        [id]="list.status.id"
                        class="p-3 pb-0"
                        cdkDropList
                        [cdkDropListData]="list.tasks"
                        (cdkDropListDropped)="cardDropped($event)">

                        <!-- Card -->
                        <ng-container  *ngFor="let card of list.tasks; trackBy: trackByFn">
                            <app-kanban-task-card [card]="card"></app-kanban-task-card>
                        </ng-container>
                    </div>
                    <!-- New card -->
                    <scrumboard-board-add-card
                        (saved)="addCard(list, $event)"
                        [taskType]="'task'"
                        [buttonTitle]="list.tasks.length ? 'Add another card' : 'Add a card'">
                    </scrumboard-board-add-card>
                </div>
            </div>
        </ng-container>
    </div>
</div>
</div>