<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full sm:w-128 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="false" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
                    <!-- Title -->
                    <div>

                        <div class="text-4xl font-extrabold tracking-tight leading-none" *ngIf="departmentTasksWithStatusPriority$ | async">{{(departmentTasksWithStatusPriority$ | async).name}}'s Tasks</div> 
                        
                        <div class="kanban_view_button">
                            <a [routerLink]="['kanban/view']" mat-flat-button [color]="'primary'" >Kanban View</a>
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="mt-4 sm:mt-0 flex">
                        <div class="flex">
                            <div class="flex items-center justify-center inset-y-0 left-0 me-3">
                                <div *ngFor="let test of (usersList | async).slice(0, 3)">
                                    <!-- User -->
                                        <img [matTooltip]="test.name" [matTooltipPosition]="'above'"
                                            class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                                            src="{{apiUrl+ 'storage/'+test.user_image}}" alt=""
                                            onError="this.onerror=null;this.src='/assets/images/143086968_2856368904622192_1959732218791162458_n (1).png';">
                                </div>
                                <ng-container *ngIf="(usersList | async).length > 3">
                                    <div
                                        class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent bg-gray-200 text-gray-500">
                                        <div class="text-md font-semibold">
                                            +{{ ((usersList | async).slice(3)).length }}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="assignUserPopup()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Invite</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="min-width: 1000px;">
                    <div *ngIf="departmentTasksWithStatusPriority$ | async">
                        <div [id]="'task-' + 2"
                            class="cdk-drag group w-full select-none hover:bg-gray-100 dark:hover:bg-hover border-t h-12 text-lg font-semibold bg-gray-50 dark:bg-transparent ng-star-inserted mt-5"
                            >

                            

                            <!-- Task content -->
                            <div class="relative flex items-center h-full pl-10">
                                <div class="flex flex-auto items-center min-w-0 h-full pr-7">
                                    <!-- Title & Placeholder -->
                                    <div class="flex-auto mr-2 truncate">
                                        <span>{{(departmentTasksWithStatusPriority$ | async).name}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <ng-container *ngFor="let tas of (departmentTasksWithStatusPriority$ | async).tasks; let index = index; let first = first; trackBy: trackByFn">
                            <div [id]="'task-' + tas.id"
                            class="cdk-drag group w-full select-none hover:bg-gray-100 dark:hover:bg-hover h-16 ng-star-inserted"
                            [class.border-t]="first">
                            <!-- Task content -->
                            <div class="relative flex items-center h-full pl-4 ">
                                <div class="relative" style="position: relative;">
                                    <button style="position: relative;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon style="position: relative !important;top: 0;left: 0;
                                        bottom: 0; right: 0;" class="three-dots">more_vert</mat-icon>
                                    </button>
                                </div>
                                <mat-menu #menu="matMenu">
                                    <button (click)="sahreTaskPopover()"  [matMenuTriggerFor]="dateTimeMenu" (menuOpened)="menuOpened()" mat-menu-item>Share task</button>
                                    <mat-menu class="date-range-menu" #dateTimeMenu="matMenu" >
                                        <div class="share_task_popover"  (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                                            <div class="share_task_popover_header">
                                                <span class="">Share task</span>
                                                <a href="#" class=""></a>
                                            </div>

                                            <form [formGroup]="formShare" (ngSubmit)="onSubmit(tas.id)"  #shareTaskNgForm="ngForm">
                                                <div class="form_body_popover">
                                                    <mat-form-field style="width: 100%;" >
                                                        <mat-select multiple [formControlName]="'boards'" disableOptionCentering>
                                                        <mat-optgroup label="{{department.name}}" *ngFor="let department of departmentsWithBoard$ | async">
                                                            <mat-option value="{{board.id}}" *ngFor="let board of department.boards">{{board.name}}</mat-option>
                                                        </mat-optgroup>
                                                        </mat-select>
                                                    </mat-form-field> 
                                                </div>
                                                <button type="submit" mat-raised-button color="primary">Share</button>
                                            </form>
                                        </div>
                                    </mat-menu>
                                 </mat-menu>


                                 <div class="subtasks" (click)="toggleTableRows(tas.id)" matBadgeColor="warn" [matBadge]="tas.subtasks_count" matBadgeSize="small" matBadgePosition="before">
                                    <mat-icon  [matTooltip]="'Subtasks'" [matTooltipPosition]="'above'" svgIcon="mat_solid:playlist_add" ></mat-icon>
                                </div>
                                         

                                        <!-- Selected indicator -->
                                        <div>
                                            <div
                                                class="z-10 absolute -top-px right-0 -bottom-px flex flex-0 w-1 bg-primary">
                                            </div>
                                        </div>
                                        <!-- User -->
                                        <div class="flex items-center justify-center inset-y-0 left-0 me-3">
                                            <img [matTooltip]="tas.user.name" [matTooltipPosition]="'above'"
                                                style="width: 35px; height: 35px; border-radius: 50%; margin: 5px 0; object-fit: cover;"
                                                src="{{apiUrl+ 'storage/'+tas.user.user_image}}" alt=""
                                                onError="this.onerror=null;this.src='/assets/images/143086968_2856368904622192_1959732218791162458_n (1).png';">
                                        </div>
                                        <!-- Task title -- link -->
                                        <div class="flex flex-auto items-center min-w-0 h-full pr-7" >
                                            <!-- Title & Placeholder -->
                                            <div class="flex-auto mr-2 editable_title_input">
                                                <!-- ////////////////////// -->
                                                <editable  (update)="updateField(index, 'title',tas.id)" style="display: flex; align-items: center; width: fit-content;">
                                                    <ng-template viewMode>
                                                        <a [routerLink]="tas.id" class="title_task_rwo truncate">
                                                            {{tas.title}}
                                                        </a>
                                                    </ng-template>
                                                    <ng-template editMode>
                                                        <input style="padding: 5px; border: 1px dotted #00000070;" [formControl]="getControl(index, 'title')" focusable editableOnEnter>
                                                    </ng-template>
                                                </editable>

                                                <!-- ////////////////////// -->
                                                
                                            </div>
                                        </div>
                                        <!-- Task file -->

                                        <ng-container  *ngIf="tas.file !== null">
                                            <button
                                            mat-mini-fab
                                            (click)="openImagePopup(apiUrl+ 'storage/'+tas.file)"
                                            color="primary"
                                            class="upload-btn mr-4"
                                        >
                                         <mat-icon>attach_file</mat-icon>
                                        </button>
                                        </ng-container>

                                        <!-- Users Assign -->
                                        <ng-container>
                                            <div class="checkListTable mr-4"
                                            [ngClass]="{
                                                'checkListTablegrey': tas.checkListInfo.completed !== tas.checkListInfo.total || tas.checkListInfo.total === 0,
                                                'checkListTablegreen': tas.checkListInfo.completed === tas.checkListInfo.total && tas.checkListInfo.total !== 0}">
                                                <mat-icon svgIcon="heroicons_outline:clipboard-check"></mat-icon>
                                                {{tas.checkListInfo.completed}}/{{tas.checkListInfo.total}}
                                            </div>
                                        </ng-container>
                                        <!-- Users Assign -->
                                        <div class="">
                                            <ng-container class="mt-5">
                                                <div class="flex items-center  -space-x-1.5">
                                                    <ng-container
                                                        *ngFor="let member of tas.users_assigned.slice(0, 3); trackBy: trackByFn">
                                                        <img [matTooltip]="member.name" [matTooltipPosition]="'above'"
                                                            class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                                                            [src]="apiUrl+'storage/' + member.image" alt="Member avatar"
                                                            onError="this.onerror=null;this.src='/assets/images/143086968_2856368904622192_1959732218791162458_n (1).png';">
                                                    </ng-container>
                                                    <ng-container *ngIf="tas.users_assigned.length > 3">
                                                        <div
                                                            class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent bg-gray-200 text-gray-500">
                                                            <div class="text-md font-semibold">
                                                                +{{ (tas.users_assigned.slice(3)).length }}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                            <div *ngIf="tas.users_assigned.length === 0" >
                                                <img
                                                class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                                                src="assets/images/dapulse-person-column.svg" alt="Member avatar">
                                            </div>

                                            <!-- <ng-container
                                                *ngFor="let item of tas.users_assigned">
                                                <img [matTooltip]="item.name" [matTooltipPosition]="'above'"
                                                    class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                                                    [src]="apiUrl+ 'storage/' + item.image" alt="Member avatar"
                                                    onError="this.onerror=null;this.src='/assets/images/143086968_2856368904622192_1959732218791162458_n (1).png';">
                                            </ng-container>
                                             
                                        -->

                                            <!-- Tags panel -->
                                          <!-- Tags panel -->
                                            <ng-template #usersPanel>
                                                <div class="w-60 rounded border shadow-md bg-card userListSelect">
                                                    <!-- Tags panel header -->
                                                    <div class="flex items-center m-3 mr-2">
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                            <div class="ml-2">
                                                                <input class="w-full min-w-0 py-1 border-0" type="text"
                                                                    placeholder="Enter user name" (input)="filterDepartments($event)"
                                                                    (keydown)="filterTagsInputKeyDown($event)" [maxLength]="30"
                                                                    #newTagInput>
                                                            </div>
                                                        </div>
                                                        <button class="ml-1" mat-icon-button >
                                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'">
                                                            </mat-icon>
                                                        </button>
                                                    </div>
                                                    <div class="flex flex-col max-h-64 py-2 border-t ">
                                                        <!-- Tags -->
                                                        <ng-container *ngFor="let tag of filteredUsers; trackBy: trackByFn">
                                                            <div class="flex items-center h-10 min-h-10 px-4">
                                                                <mat-checkbox class="flex items-center h-10 min-h-10" [color]="'primary'"
                                                                [checked]="tag.checked" (change)="toggleTaskUser(tag.id)">
                                                                </mat-checkbox>
                                                                <div class="ml-1">{{tag.name}}</div>
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="filteredUsers?.length === 0" class="pl-3">No result</ng-container>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>

                                        <!-- Users Assign -->
                                        <!-- Due date -->
                                        <div class="relative flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full priority_class"
                                            [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !tas.deadline,
                                                    'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': tas.deadline && !isOverdue(tas.deadline),
                                                    'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': tas.deadline && isOverdue(tas.deadline)}"
                                                    (click)="dueDatePicker.open()">
                                            <mat-icon class="icon-size-5 text-current"
                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                            <span class="ml-2 text-md font-medium">
                                                <ng-container *ngIf="tas.deadline">{{tas.deadline |
                                                    date:'LLL dd yyyy'}}</ng-container>
                                                <ng-container *ngIf="!tas.deadline">Not set</ng-container>
                                            </span>

                                            <mat-form-field
                                                class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                                                <input matInput [formControl]="getControl(index, 'deadline')" [matDatepicker]="dueDatePicker">
                                                <mat-datepicker #dueDatePicker>
                                                    <mat-datepicker-actions>
                                                        <!-- <button
                                                        mat-button
                                                        (click)="taskForm.get('deadline').setValue(null)"
                                                        matDatepickerCancel>Clear
                                                    </button> -->
                                                        <button class="" mat-flat-button [color]="'primary'"
                                                            (click)="updateField(index, 'deadline',tas.id)"
                                                            matDatepickerApply>Select
                                                        </button>
                                                    </mat-datepicker-actions>
                                                </mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <!-- Priority -->
                                        <div [ngStyle]="{'background-color': tas.priority.color + '80'}"
                                            class="flex items-center mt-1.5 px-4 leading-9 rounded-full  text-gray-800 dark:text-gray-100 priority_class"
                                            *ngIf="tas.priority"  [matMenuTriggerFor]="priorityMenu" (click)="triggerStatusMenu(tas)">
                                            <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                [svgIcon]="'heroicons_outline:view-grid-add'"></mat-icon>
                                                <div class="flex-auto mr-2 truncate">
                                                    <span class="ml-2 mr-1 text-md" style="color: #000;">{{tas.priority.name}}</span>
                                                </div>
                                        </div>

                                         <ng-container *ngIf="!tas.priority" >
                                            <div class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-800 bg-gray-100 dark:text-gray-100"
                                                [matMenuTriggerFor]="priorityMenu" (click)="triggerStatusMenu(tas)">
                                                <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                    [svgIcon]="'heroicons_outline:view-grid-add'"></mat-icon>
                                                <span class="ml-2 mr-1 text-md " style="color: #000;">Choose priority</span>
                                            </div>
                                        </ng-container> 
                                        <!-- Priority -->
                                        <!-- Status -->

                                        <div [ngStyle]="{'background-color': tas.status.color + '80'}"
                                                class="flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full text-gray-800 dark:text-gray-100 priority_class"
                                                *ngIf="tas.status" [matMenuTriggerFor]="stautsMenu" (click)="triggerStatusMenu(tas)">
                                                <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                    [svgIcon]="'heroicons_outline:clipboard-check'"></mat-icon>
                                                    <div class="flex-auto mr-2 truncate">
                                                <span class="ml-2 mr-1 text-md" style="color: #000;">{{tas.status.name}}</span>
                                                </div>
                                            </div>
                                        <!-- Status -->
                                        <ng-container *ngIf="!tas.status" >
                                            <div class="flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full cursor-pointer text-gray-800 bg-gray-100 dark:text-gray-100 priority_class"
                                                [matMenuTriggerFor]="stautsMenu" (click)="triggerStatusMenu(tas)">
                                                <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                    [svgIcon]="'heroicons_outline:clipboard-check'"></mat-icon>
                                                <span class="ml-2 mr-1 text-md " style="color: #000;">Choose status</span>
                                            </div>
                                        </ng-container> 
                                    </div>
                                </div>
                            
                                <div style="overflow: hidden;" class="subtask_list not_collapsed" [@detailExpand]="expandedSubtasks !== null && expandedSubtasks === tas.id ? 'expanded' : 'collapsed'" >
                                        <div *ngIf="expandedSubtasks === tas.id">
                                            <ng-container class="mt-5" *ngFor="let subtaskTask of subtasksData$ | async; let index1 = index; let first = first; trackBy: trackByFn;">
                                                <div [id]="'task-' + subtaskTask.id"
                                                    class="cdk-drag group w-full select-none hover:bg-gray-100 dark:hover:bg-hover h-16 ng-star-inserted"
                                                    [class.border-t]="first">
                                                    <!-- Task content -->
                                                    
                                                    <div class="relative flex items-center h-full pl-4">
                                                        <!-- Selected indicator -->
                                                        
                                                        <div>
                                                            <div
                                                                class="z-10 absolute -top-px right-0 -bottom-px flex flex-0 w-1 bg-primary">
                                                            </div>
                                                        </div>
                                                        <!-- User -->
                                                        <div class="flex items-center justify-center inset-y-0 left-0 me-3">
                                                            <img [matTooltip]="subtaskTask.user.name" [matTooltipPosition]="'above'"
                                                                style="width: 35px; height: 35px; border-radius: 50%; margin: 5px 0; object-fit: cover;"
                                                                src="{{apiUrl+'storage/'+subtaskTask.user.user_image}}" alt="">
                                                        </div>
                                                        <!-- Task title -- link -->
                                                        <div class="flex flex-auto items-center min-w-0 h-full pr-7" >
                                                            <!-- Title & Placeholder -->
                                                            <div class="flex-auto mr-2 editable_title_input">
                                                                <!-- ////////////////////// -->
                                                                <editable  (update)="updateSubtaskField(index1, 'title',subtaskTask.id)" style="display: flex; align-items: center; width: fit-content;">
                                                                    <ng-template viewMode>
                                                                        <a [routerLink]="subtaskTask.id" class="title_task_rwo truncate">
                                                                            {{subtaskTask.title}}
                                                                        </a>
                                                                    </ng-template>
                                                                    <ng-template editMode>
                                                                        <input style="padding: 5px; border: 1px dotted #00000070;" [formControl]="getSubtaskControl(index1, 'title')" focusable editableOnEnter>
                                                                    </ng-template>
                                                                </editable>
                                                                <!-- ////////////////////// -->
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                        <ng-container
                                                            *ngFor="let subtaskitem of subtaskTask.users_assigned">
                                                            <img [matTooltip]="subtaskitem.name" [matTooltipPosition]="'above'"
                                                                class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                                                                [src]="apiUrl+ 'storage/' + subtaskitem.image" alt="Member avatar">
                                                        </ng-container>
                                                        <!-- Users Assign -->
                                                        <!-- Due date -->
                                                        <div class="relative flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full priority_class"
                                                            [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !subtaskTask.deadline,
                                                                    'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': subtaskTask.deadline && !isOverdue(subtaskTask.deadline),
                                                                    'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': subtaskTask.deadline && isOverdue(subtaskTask.deadline)}"
                                                                    (click)="dueDatePicker1.open()">
                                                            <mat-icon class="icon-size-5 text-current"
                                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                                            <span class="ml-2 text-md font-medium">
                                                                <ng-container *ngIf="subtaskTask.deadline">{{subtaskTask.deadline |
                                                                    date:'LLL dd yyyy'}}</ng-container>
                                                                <ng-container *ngIf="!subtaskTask.deadline">Not set</ng-container>
                                                            </span>

                                                            <mat-form-field
                                                                class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                                                                <input matInput [formControl]="getSubtaskControl(index1, 'deadline')" [matDatepicker]="dueDatePicker1">
                                                                <mat-datepicker #dueDatePicker1>
                                                                    <mat-datepicker-actions>
                                                                        <!-- <button
                                                                        mat-button
                                                                        (click)="taskForm.get('deadline').setValue(null)"
                                                                        matDatepickerCancel>Clear
                                                                    </button> -->
                                                                        <button class="" mat-flat-button [color]="'primary'"
                                                                            (click)="updateSubtaskField(index1, 'deadline',subtaskTask.id)"
                                                                            matDatepickerApply>Select1
                                                                        </button>
                                                                    </mat-datepicker-actions>
                                                                </mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <!-- Priority -->
                                                        <div [ngStyle]="{'background-color': subtaskTask.priority.color + '80'}"
                                                            class="flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full  text-gray-800 dark:text-gray-100 priority_class"
                                                            *ngIf="subtaskTask.priority" [matMenuTriggerFor]="subtaskPriorityMenu" (click)="triggerStatusSubtask(subtaskTask)">
                                                            <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                                [svgIcon]="'heroicons_outline:view-grid-add'"></mat-icon>
                                                                <div class="flex-auto mr-2 truncate">
                                                                    <span class="ml-2 mr-1 text-md" style="color: #000;">{{subtaskTask.priority.name}}</span>
                                                                </div>
                                                        </div>
                                                        <ng-container *ngIf="!subtaskTask.priority" >
                                                            <div class="flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full cursor-pointer text-gray-800 bg-gray-100 priority_class dark:text-gray-100"
                                                                [matMenuTriggerFor]="subtaskPriorityMenu" (click)="triggerStatusSubtask(subtaskTask)">
                                                                <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                                    [svgIcon]="'heroicons_outline:view-grid-add'"></mat-icon>
                                                                <span class="ml-2 mr-1 text-md " style="color: #000;">Choose priority</span>
                                                            </div>
                                                        </ng-container> 
                                                        <!-- Priority -->
                                                        <!-- Status -->
                                                        <div [ngStyle]="{'background-color': subtaskTask.status.color + '80'}"
                                                            class="flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full text-gray-800 dark:text-gray-100 priority_class"
                                                            *ngIf="subtaskTask.status" [matMenuTriggerFor]="subtaskStautsMenu" (click)="triggerStatusSubtask(subtaskTask)">
                                                            <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                                [svgIcon]="'heroicons_outline:clipboard-check'"></mat-icon>
                                                                <div class="flex-auto mr-2 truncate">
                                                            <span class="ml-2 mr-1 text-md" style="color: #000;">{{subtaskTask.status.name}}</span>
                                                            </div>
                                                        </div>

                                                        <ng-container *ngIf="!subtaskTask.status" >
                                                            <div class="flex items-center mt-1.5 px-4 mx-2 leading-9 rounded-full cursor-pointer text-gray-800 priority_class bg-gray-100 dark:text-gray-100"
                                                                [matMenuTriggerFor]="subtaskStautsMenu" (click)="triggerStatusSubtask(subtaskTask)">
                                                                <mat-icon class="icon-size-5 text-current" style="color: #000;"
                                                                [svgIcon]="'heroicons_outline:clipboard-check'"></mat-icon>
                                                                <span class="ml-2 mr-1 text-md " style="color: #000;">Choose status</span>
                                                            </div>
                                                        </ng-container>
                                                        <!-- Status -->
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <!-- <ng-container *ngIf="tas.subtasks_count === 0">
                                            <div class="py-3">
                                                No subtasks created
                                            </div>
                                        </ng-container> -->
                                        <app-store-task-row 
                                        [taskId]="tas.id"></app-store-task-row>
                                </div>
                            </ng-container>
                            
                            <app-store-task-row></app-store-task-row>
                            
                        
                        </div>
                </div>
                

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

    <mat-menu #stautsMenu="matMenu">
        <!-- Low -->
        <button *ngFor="let status of statuses | async" mat-menu-item (click)="selectStatus(status)">
            <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                <span class="font-medium" [ngStyle]="{'color': status.color}">{{status.name}}</span>
                <!-- <mat-icon
            class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon> -->
            </span>
        </button>
    </mat-menu>


    <mat-menu #subtaskStautsMenu="matMenu">
        <!-- Low -->
        <button *ngFor="let status of statuses | async" mat-menu-item (click)="subtaskSelectStatus(status)">
            <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                <span class="font-medium" [ngStyle]="{'color': status.color}">{{status.name}}</span>
                <!-- <mat-icon
            class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon> -->
            </span>
        </button>
    </mat-menu>



    <mat-menu #priorityMenu="matMenu">
        <!-- Low -->
        <button *ngFor="let status of priority | async" mat-menu-item (click)="selectPriority(status)">
            <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                <span class="font-medium" [ngStyle]="{'color': status.color}">{{status.name}}</span>
                <!-- <mat-icon
            class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon> -->
            </span>
        </button>
    </mat-menu>


    <mat-menu #subtaskPriorityMenu="matMenu">
        <!-- Low -->
        <button *ngFor="let status of priority | async" mat-menu-item (click)="subtaskSelectPriority(status)">
            <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                <span class="font-medium" [ngStyle]="{'color': status.color}">{{status.name}}</span>
                <!-- <mat-icon
            class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon> -->
            </span>
        </button>
    </mat-menu>

  


       
    
    

   

    

    

</div>