<div class="p-5">

    <h2 mat-dialog-title>Update board</h2>
    
    <form [formGroup]="updateBoards" #updateBoardNgForm="ngForm"
        class="flex flex-col pb-4 overflow-hidden">
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Board name:</mat-label>
                <input matInput [formControlName]="'name'">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Board description</mat-label>
                <textarea matInput [formControlName]="'description'" [spellcheck]="false" matTextareaAutosize
                    #descriptionField></textarea>
            </mat-form-field>
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Board type:</mat-label>
                <input matInput [formControlName]="'type'" type="number">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="updateBoardNgForm.invalid"
                (click)="updateBoard()">Update Board</button>
            
        </div>
    </form>
    </div>
    