<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Main -->
    <div class="flex flex-col flex-auto ">

        <!-- Activity feed -->
        <div class="w-full max-w-3xl">

            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight leading-none">Task Activities</div>
                    <div class="mt-8">
                        <ol>
                            <!-- Activities -->
                            <ng-container *ngIf="taskLogsData">
                                <div *ngFor="let log of taskLogsData">
                                    <div class="">
                                        <ol>
                                            <!-- Activities -->
                
                                                <!-- Date separator -->
                                                <!-- <ng-container *ngIf="first || !isSameDay(activity.date, activities[i - 1].date)">
                                                    <li class="relative flex py-7">
                                                        <div class="relative py-2 px-8 text-md font-medium leading-5 rounded-full bg-primary text-on-primary">
                                                            {{getRelativeFormat(activity.date)}}
                                                        </div>
                                                    </li>
                                                </ng-container> -->
                
                                                <!-- Activity -->
                                                <li class="relative flex py-7">
                                                    <!-- Line -->
                                                    <ng-container >
                                                        <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-300 dark:bg-gray-600"></div>
                                                    </ng-container>
                
                                                    <div class="relative flex flex-auto">
                                                        <!-- Icon -->
                                                        <ng-container *ngIf="log.type.image ">
                                                                <img class="flex shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full bg-gray-400" [src]="'https://opus.devtaktika.com/storage/' + log.type.image" alt="">
                                                        </ng-container>
                
                                                      
                                                       
                
                                                        <!-- Content -->
                                                        <div class="flex flex-col flex-auto items-start">
                                                            <!-- Description -->
                                                            <ng-container *ngIf="log.message">
                                                                <div
                                                                    [innerHTML]="log.message"></div>
                                                            </ng-container>
                                                            <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                                                <!-- Date -->
                                                                <div class="text-secondary">
                                                                    {{log.created_at | date:'MMM dd, h:mm a'}}
                                                                </div>
                                                                
                                                            </div>
                                                            <!-- Extra content -->
                                                           
                                                        </div>
                                                    </div>
                                                </li>
                                        </ol>
                                    </div>
                                </div>
                            </ng-container>
                            
                        </ol>
                    </div>

         
           

            <!-- No Activity template -->
            <ng-template #noActivity>
                There are is activity at the moment...
            </ng-template>

        </div>
    </div>

</div>
  