<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden p-4">
    <!-- Main -->
<div class="flex flex-col flex-auto">
<!-- Activity feed -->
<div class="w-full max-w-3xl">
    <!-- comments -->
    <div class="flex items-end py-4 ">
        <form [formGroup]="commentForm" class=" w-full">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full">
                <textarea
                    [mention]="items" 
                    [mentionConfig]="{triggerChar:'@',maxItems:10,labelKey:'name'}"
                    [(ngModel)]="data"
                    class="min-h-5 my-0 resize-none"
                    style="margin: 11px 0 !important;padding: 0 !important;"
                    [rows]="3"
                    placeholder="Add comment..."
                    matInput
                    [formControlName]="'newComment'"
                    #messageInput
                ></textarea>
            </mat-form-field>
        </form>

        <div class="flex items-center h-11 my-px ml-4">
            <button (click)="addCommentTask()" mat-icon-button>
                <mat-icon
                    class="rotate-90"
                    [svgIcon]="'heroicons_outline:paper-airplane'"
                ></mat-icon>
            </button>
        </div>

    </div>
    
    <!-- Message field -->
    <div class="py-4">
        <ng-container *ngFor="let comment of taskSelectedComments$ | async">
            <div class="one_comment d-flex" *ngIf="!comment.is_his">
                <app-user-profile [image]="comment.user.image" [name]="comment.user.name" [color]="comment.user.color"></app-user-profile>

               
                <!-- {{comment.user | json}} -->
                <div class="px-3">
                    <h5 class="bold" style="margin-top: 8px;">{{ comment.user.name }}</h5>
                    <div class="relative max-w-3/4 py-2 rounded-lg">
                        <!-- Speech bubble tail -->
                        <div
                            class="absolute bottom-0 w-3 text-grey-500 -right-1 -mr-px mb-px"
                        ></div>
                        <!-- Message -->
                        <div
                            class="leading-5 comment_text cursor-pointer"
                            style="min-width: fit-content !important"
                        >
                            {{ comment.text }}
                        </div>
                    </div>
                    <div
                        class="my-0.5 text-sm font-medium text-secondary mr-3"
                    >
                        {{ comment.created_at | date: "short" }}
                    </div>
                </div>
                <!-- Time -->
            </div>
            <div
                class="flex flex-col items-end mt-3"
                *ngIf="comment.is_his"
            >
                <!-- Bubble -->
                <div
                    class="relative max-w-3/4 px-3 py-2 rounded-lg bg-blue-500 text-blue-50"
                >
                    <!-- Speech bubble tail -->
                    <div
                        class="absolute bottom-0 w-3 text-blue-500 -right-1 -mr-px mb-px"
                    ></div>
                    <!-- Message -->
                    <div
                        class="leading-5 cursor-pointer text_container"
                    >
                        {{ comment.text }}
                        <mat-icon
                            class="delete_icon"
                            (click)="deleteCommentclick(comment.id)"
                            >delete</mat-icon
                        >
                    </div>
                </div>
                <!-- Time -->
                <div
                    class="my-0.5 text-sm font-medium text-secondary mr-3"
                >
                    {{ comment.created_at | date: "short" }}
                </div>
            </div>
        </ng-container>
        <ng-template #templateName> No comments... </ng-template>
    </div>

    <!-- comments -->
</div>
</div>
</div>
