tasks-details{
    display: block!important;
}
.mat-checkbox .mat-checkbox-layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.userListSelect{
    overflow-y: auto;
    background: #fff;
}
.comment_text h5{
    font-weight: 600;
    margin-bottom: 5px;
}
.comment_text{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.17);
    -moz-box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.17);
    box-shadow: 10px 10px 22px -6px rgba(0,0,0,0.17);
}
.one_comment{
    margin-bottom: 15px;
}
.text_container{
    position: relative!important;
    padding-right: 5px;
}
.text_container:hover .delete_icon{
    opacity: 1;
    transition: opacity 0.3s;
}

.delete_icon{
    opacity: 0;
    font-size: 16px;
    color: #fff;
    background: #dc2626;
    border-radius: 50%;
    position: absolute;
    top: -17px !important;
    right: -22px !important;
    transition: opacity 0.3s;
}


.delete_iconChecklist{
    opacity: 0;
    font-size: 16px;
    color: #fff;
    background: #dc2626;
    border-radius: 50%;
    transition: opacity 0.3s;
}
.checkListLi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkListLi:hover .delete_iconChecklist{
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 99999;
    cursor: pointer;
}
.userListSelect{
    height: 55vh;
}