<div class="flex flex-auto" *ngIf="taskSelected$ | async as task">
    <div
        class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
    >

        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4">
            <!-- Mark as ... button -->
            <button class="pr-4 pl-3.5" mat-button (click)="toggleCompleted()">
                <!-- Mark as incomplete -->
                <ng-container>
                    <img
                        class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover mr-5"
                        [src]="apiUrl + 'storage/' + task.user.user_image"
                        alt="Member avatar"
                        [matTooltip]="task.user.name"
                        [matTooltipPosition]="'above'"
                        onError="this.onerror=null;this.src='/assets/images/143086968_2856368904622192_1959732218791162458_n (1).png';"
                    />
                    <span>- Created by</span>
                </ng-container>
            </button>
            <div class="flex items-center">
                <!-- More menu -->
                <button mat-icon-button (click)="deleteTask()">
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                </button>

                <!-- Close button -->
                <button mat-icon-button (click)="closeTaskDetails()">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>
        <br />
        <h1 style="font-size: 22px">{{ task.title }}</h1>
        <mat-divider class="mt-6"></mat-divider>

        <!-- Users Assign -->

        <div class="mt-5 body_content">

            <mat-tab-group class="mt-5" #logsTab>
                <mat-tab label="Checklists" class="overflow-y-auto">
                   



<!-- Tags -->
<div class="mt-8">
    <div class="flex flex-wrap items-center -m-1.5">
        <!-- Tags -->
        <div
            class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
            (click)="openTagsPanel()"
            #tagsPanelOrigin>

           

            <ng-container >
                <div>
                    <img
                        class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                        src="assets/images/dapulse-person-column.svg"
                        alt="Member avatar"
                    />
                </div>
                <p style="margin-left: 25px !important">
                    - users assigned
                </p>
            </ng-container>

            <!-- Tags panel -->
            <ng-template #tagsPanel>
                <div
                class="w-60 rounded border shadow-md bg-card userListSelect"
            >
                <!-- Tags panel header -->
                <div class="flex items-center m-3 mr-2">
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <div class="ml-2">
                            <input
                                class="w-full min-w-0 py-1 border-0"
                                type="text"
                                placeholder="Enter user name"
                                (input)="
                                    filterDepartments($event)
                                "
                                (keydown)="
                                    filterTagsInputKeyDown(
                                        $event
                                    )
                                "
                                [maxLength]="30"
                                #newTagInput
                            />
                        </div>
                    </div>
                    <!-- <button
                        class="ml-1"
                        mat-icon-button
                        (click)="toggleTagsEditMode()"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="
                                'heroicons_solid:pencil-alt'
                            "
                        >
                        </mat-icon>
                    </button> -->
                </div>
                <div
                    class="flex flex-col max-h-64 py-2 border-t"
                >
                    <!-- Tags -->
                    <ng-container
                        *ngFor="
                            let tag of boardUsers$ | async;
                            trackBy: trackByFn
                        "
                    >
                        <div
                            class="flex items-center h-10 min-h-10 px-4"
                        >

                            <mat-checkbox
                                [checked]="userCheck(tag.id)"
                                (change)="toggleTaskUser(tag.id)"
                                class="flex items-center h-10 min-h-10"
                                [color]="'primary'"
                            >
                            </mat-checkbox>
                            <div class="ml-1">
                                {{ tag.name }}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container
                        *ngIf="filteredUsers?.length === 0"
                        class="pl-3"
                        >No result</ng-container
                    >
                </div>
            </div>
            </ng-template>
        </div>
    </div>
</div>





                    
                    <form class="" [formGroup]="taskForm">

                    <div class="checklists_section">
                        <div class="col-md-12 align-items-center mt-5">
                            <ul class="list-group">
                                <div class="w-full py-4">
                                    <div *ngIf="task.checklists.length">
                                        {{
                                            (task.checkListcompleted / task.checklists.length) *
                                                100 | number: "1.0-0"
                                        }}%
                                    </div>
                                    <div *ngIf="!task.checklists.length">0%</div>
                                    <mat-progress-bar
                                        mode="determinate"
                                        value="{{
                                            (task.checkListcompleted / task.checklists.length) *
                                                100
                                        }}"
                                    ></mat-progress-bar>
                                </div>
                                <li
                                    class="list-group-item checkListLi"
                                    style="display: flex; align-items: center"
                                    *ngFor="let item of task.checklists"
                                >
                                    <div class="flex" style="align-items: center">
                                        <input
                                            class="mr-3"
                                            type="checkbox"
                                            value="{{ item.id }}"
                                            [checked]="item.value === 1"
                                            (change)="isAllSelected(item)"
                                        />
                                        <p
                                            [ngStyle]="{
                                                'text-decoration':
                                                    item.value === 1
                                                        ? 'line-through'
                                                        : 'none'
                                            }"
                                        >
                                            {{ item.text }}
                                        </p>
                                    </div>
                                    <mat-icon
                                        class="delete_iconChecklist"
                                        (click)="deleteCheckList(item.id)"
                                        >delete</mat-icon
                                    >
                                </li>
                                <li class="" style="width: 100%">
                                    <mat-form-field
                                        class="flex-auto"
                                        style="width: 100%"
                                    >
                                        <input
                                            placeholder="Add an item"
                                            style="width: 100%"
                                            matInput
                                            [formControlName]="'checklist'"
                                        />
                                        <button
                                            mat-raised-button
                                            color="primary"
                                            (click)="addNewCheckList()"
                                            style="border-radius: 4px !important"
                                        >
                                            add
                                        </button>
                                    </mat-form-field>
                                </li>
    
                                
                            </ul>
                        </div>
                    </div>
                    </form>
                </mat-tab>
                <mat-tab label="Comments">
                    <div class="flex flex-auto">
                        <div class="flex flex-col flex-auto p-3 pt-10 sm:p-4 sm:pt-10 overflow-y-auto">
                            <app-task-comments [taskId]="taskSeleced.id"></app-task-comments>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Logs">
                    <div class="flex flex-auto">
                        <div
                            class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
                        >
                            <app-task-logs [taskId]="taskSeleced.id"></app-task-logs>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>