<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">

        <!-- Title -->
        <div class="mt-4 md:mt-24 text-3xl md:text-6xl font-extrabold tracking-tight leading-7 sm:leading-10">
            Boards 
        </div>

        <!-- Boards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 md:mt-16">
            <!-- New board -->
            <div (click)="openDialog()" class="flex flex-col items-center justify-center w-56 rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out">
                <mat-icon
                    class="icon-size-12 text-hint"
                    [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </div>
            <ng-container  *ngFor="let boards of $boards | async; trackBy: trackByFn">
                <div
                    class="flex flex-col items-start w-56 p-6 rounded-lg shadow bg-card rounded-lg hover:shadow-xl transition-shadow duration-150 ease-in-out"
                    
                    
                    >


                    <div class="flex justify-between items-center" style="width: 100%;">

                    <!-- <div class="flex items-center justify-center p-2 rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary"> -->
                        <!-- <img class="department_image" src="{{apiUrl+'storage/' + department.image}}" alt=""> -->
                        
                        <a class=" text-lg font-medium leading-5 line-clamp-2" [routerLink]="'../../task-managment/'+boards.id+'/view/normal'">  
                        {{boards.name | titlecase }}
                        </a>

                       
                    <!-- </div> -->
                    
                    <mat-menu #appMenu="matMenu">
                        <ng-template matMenuContent >
                          <button mat-menu-item (click)="editBoard(boards)">Edit</button>
                          <button mat-menu-item (click)="deleteBoard(boards.id)">Delete</button>
                        </ng-template>
                      </mat-menu>
                      <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </div>

                    <!-- Title -->
                    <p class="mt-4">{{boards.description}}</p>
                    <div class="private_label" *ngIf="boards.type === 0"><span>Private</span>   <mat-icon class="color:#fff;" svgIcon="mat_solid:lock" ></mat-icon></div>
                </div>
            </ng-container>
            
        </div>

    </div>

</div>


