<div
class="flex flex-col items-start mb-3 p-5 space-y-3 shadow rounded-lg overflow-hidden bg-card hoveranimation editable_title_input"
>


    <!-- Cover image -->
    <!-- <div (click)="openImagePopup(apiUrl+'storage/'+card.file)" class="cover-image" *ngIf="card.file ! null">
        <img class="w-100 h-25"  [src]="apiUrl+'storage/' + card.file">
    </div> -->
    <!-- Title -->
    <div class="flex-auto ">
        <!-- ////////////////////// -->

        <editable (update)="updateTitle()" style="display: flex; align-items: center;">
            <ng-template viewMode>
            <div  class="flex align-center" style="width: 100%; justify-content: space-between; align-items: center;">

                <a [routerLink]="['subtask', card.id]" class="title_task_rwo truncate">
                    <div class="text-lg font-medium leading-5" style="white-space: pre-line; word-break:break-word;width: 150px;max-height: 4em;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;" >{{card.title}}</div>
                </a>
            </div>
            </ng-template>
             <div editable_title_inpu> </div>
            <ng-template editMode>
                <div style=" word-break: break-word;" [formGroup]="myGroup">
                    <input style="height:auto; max-width: 150px;padding: 5px; border: 1px dotted #00000070; border-radius: 5px;" [formControlName]="'title'"  focusable editableOnEnter>

                </div>
            </ng-template>
        </editable>

        <!-- ////////////////////// -->
    </div>


    <!-- Labels -->
    <!-- <ng-container *ngIf="card.priority">
        <div >
            <div class="flex flex-wrap -mx-1 -mb-2 mb-2">
                    <div class="mx-1 mb-2 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500  dark:text-gray-300 " style="color: #000!important;" [ngStyle]="{'background-color': card.priority.color + '80'}">
                        {{card.priority.name}}
                    </div>
            </div>
        </div>
    </ng-container> -->
    <!-- Due date -->
    <!-- <ng-container *ngIf="card.deadline">
        <div
            class="flex items-center rounded text-sm font-medium leading-5 text-secondary mb-2"
            [ngClass]="{'text-red-600': isOverdue(card.deadline)}">
            <mat-icon
                class="icon-size-4 text-current"
                [svgIcon]="'heroicons_outline:clock'"></mat-icon>
            <div class="ml-1">
                {{card.deadline | date: 'longDate'}}
            </div>
        </div>

    </ng-container> -->
</div>
