<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Users</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Users</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Fields
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                  <app-add-or-update-users ></app-add-or-update-users>
            </div>
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row" style="height: fit-content; min-height: 500px;">
                <div class="flex flex-col p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">

                <table mat-table [dataSource]="usersWithRoleDep$" class="mat-elevation-z8">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <!-- Position Column -->
                   

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                    </ng-container>
                     <!-- Email Column -->
                     <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}}</td>
                      </ng-container>
                       <!-- Department Column -->
                     <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef> Department </th>
                        <td mat-cell *matCellDef="let element"> {{element.department_id.name}}</td>
                      </ng-container>
                        <!-- Role Column -->
                        <!-- <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef> Role </th>
                            <td mat-cell *matCellDef="let element"> {{element.role_id.name}}</td>
                        </ng-container> -->
                    <!-- Weight Column -->
                    <ng-container matColumnDef="image">
                      <th mat-header-cell *matHeaderCellDef>Image</th>
                      <td mat-cell *matCellDef="let element">
                          <img style="width: 35px!important;height: 35px; border-radius: 50%; margin: 5px 0; object-fit: cover;" src="{{apiUrl+ 'storage/'+element.image}}" alt=""
                          onError="this.onerror=null;this.src='/assets/images/143086968_2856368904622192_1959732218791162458_n (1).png';">
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let element">
                        <a mat-mini-fab color="secondary" (click)="navigateTo(element.id)" class="me-2" style="margin-right: 5px;" aria-label="Example icon button with a menu icon">
                            <mat-icon>edit </mat-icon>
                            </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>Delete</th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                        <button mat-mini-fab color="warn" (click)="deleteUser(element.id, i)" aria-label="Example icon button with a menu icon">
                            <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
