.cdk-drag-preview {
    @apply shadow-2xl;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging div:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.checkListTable{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 6px;
    border-radius: 25px;
}

.checkListTablegrey{
    background-color: rgba(30, 41, 59,0.2)!important;
}
.checkListTablegreen{
    background-color: #61bd4f;
    color: #fff;
}
.checkListTablegreen mat-icon{
    color: #fff;
}

.subitem-kanban-card .subitem-kanban-card-arrow-wrapper {
    left: 8px;
    width: 16px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    height: 100%;
}
.subitem-arrow-component {
    pointer-events: none;
    right: 0;
    width: 30px;
    height: 100%;
    position: absolute;
    z-index: 100;
}
.subitem-kanban-card .subitem-kanban-card-arrow-wrapper .subitem-arrow-component {
    width: 16px;
}
.subitem-arrow-component .subitem-arrow-component-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom-left-radius: 8px;
}
.subitem-arrow-component .subitem-arrow-component-bottom {
    border-left: 1px solid #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.subitem-arrow-component .subitem-arrow-component-top.subitem-arrow-no-line {
    border-bottom: none;
    border-radius: 0;
}
.subitem-arrow-component .subitem-arrow-component-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom-left-radius: 8px;
}
.subtasks_button{
    position: absolute;
    bottom: 0;
    left: 15px;
}


.kanban_view_button a{
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #fff;

    transition: border 0.6s;

}
.kanban_view_button a:hover{
    border: 1px solid #00000065;
    transition: border 0.6s;
}
.kanban_view_button{
    margin-top: 20px;
}

.share_task_popover{
    max-width: 100%;
    width: 270px;
    padding: 15px;
}
.share_task_popover_header{
    border-bottom: 1px solid #0000002a;
    padding: 0 0 10px 0;
    text-align: center;
    font-size: 18px;
}
.form_body_popover{
    padding-top: 10px;
}

.priority_card_kanban{
    width: 100%;
    height: 25px;
    padding: 3px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-weight: 600;
    padding-left: 5px;
}
.text-lg{
    word-break: break-all;
}