<div cdkDrag>
    <div
        class="flex flex-col items-start mb-3 p-5 space-y-3 shadow rounded-lg overflow-hidden bg-card position-relative editable_title_input">
        <div
            class="priority_card_kanban"
            *ngIf="card.priority"
            [ngStyle]="{ 'background-color': card.priority.color }"
        >
            {{ card.priority.name }}
        </div>
        <!-- Cover image -->
        <div
            (click)="openImagePopup(apiUrl + 'storage/' + card.file)"
            class="cover-image"
            *ngIf="card.file !== null"
        >
            <img class="w-100 h-25" [src]="apiUrl + 'storage/' + card.file" />
        </div>
        <!-- Title -->
        <div
            class="flex align-center"
            style="
                width: 100%;
                justify-content: space-between;
                align-items: center;
            "
        >
            <div class="flex-auto mr-2">
                <!-- ////////////////////// -->
                <editable
                    (update)="updateTitle()"
                    style="
                        display: flex;
                        align-items: center;
                        width: 200px;
                    "
                >
                    <ng-template viewMode>
                        <a
                            [routerLink]="['task', card.id]"
                            class="title_task_rwo truncate"
                        >
                            <div
                                class="text-lg font-medium leading-5"
                                style="
                                    white-space: pre-line;
                                    word-break: break-word;
                                    width: 149px;
                                    max-height: 4em;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                "
                            >
                                {{ card.title }}
                            </div>
                        </a>
                    </ng-template>
                    <ng-template editMode>
                        <div
                            style="word-break: break-word"
                            [formGroup]="myGroup"
                        >
                            <input
                                style="
                                    padding: 5px;
                                    border: 1px solid #00000070;
                                "
                                [formControlName]="'title'"
                                focusable
                                editableOnEnter
                            />
                        </div>
                    </ng-template>
                </editable>
                <!-- ////////////////////// -->
            </div>
        </div>
        <div class="me-3" style="display: inherit">
            <ng-container class="mt-5">
                <div class="flex items-center" style="width: 175px;">
                    <ng-container *ngIf="card.users_assigned.length < 1">
                        <strong class="pl-1">
                            None Assigned
                        </strong>
                    </ng-container>
                    <ng-container
                        *ngFor="
                            let member of card.users_assigned;
                            let i = index;
                            trackBy: trackByFn
                        "
                    >
                        <ng-container *ngIf="i < 2">
                            <app-user-profile
                                [image]="member.image"
                                [name]="member.name"
                                [color]="member.color"
                            ></app-user-profile>
                        </ng-container>
                    </ng-container>

                    <ng-container
                        *ngIf="card.users_assigned.length > 2"
                        class="plus-count"
                        style="font-weight: 600"
                    >
                        <strong class="pl-1">
                            +{{ card.users_assigned.length - 2 }}
                        </strong>
                    </ng-container>
                </div>
            </ng-container>

            <div
                class="mt-3"
                (click)="showSubtasks()"
                matBadgeColor="warn"
                [matBadge]="card.subtasks_count"
                matBadgeSize="small"
                matBadgePosition="before"
            >
                <mat-icon
                    [matTooltip]="'Subtasks'"
                    [matTooltipPosition]="'above'"
                    svgIcon="mat_solid:playlist_add"
                ></mat-icon>
            </div>
        </div>
    </div>
    <ng-container *ngIf="subtasksOpened$ | async"></ng-container>
    <ng-container *ngIf="showTasks">
        <ng-container
            *ngFor="
                let subtask of subtask$ | async;
                let firsttt = first;
                let lasttt = last;
                trackBy: trackByFn
            "
        >
            <app-kanban-subtask-card [card]="subtask"></app-kanban-subtask-card>
        </ng-container>
        <scrumboard-board-add-card
            (saved)="addCard(card, $event)"
            [taskType]="'subtask'"
            [buttonTitle]="'Add a subtask'"
        >
        </scrumboard-board-add-card>
    </ng-container>
</div>
