<form [formGroup]="storeDepartment" #storeDepartmentNgForm="ngForm"
    class="flex flex-col p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
    <div class="flex flex-col gt-xs:flex-row">
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-label>Department name:</mat-label>
            <input matInput [formControlName]="'name'" [value]="departmentById?.name">
            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
        </mat-form-field>
        <div>
            <div>
                <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
                    <div class="text-wrapper">
                        <div class="centered">

                            <input type="file" name="file" id="file" (change)="onFileChange($event.target.files)">
                            <label for="file"><span class="textLink"> <mat-icon svgIcon="heroicons_outline:cloud-upload"></mat-icon>Select department image</span> or Drop it here!</label>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div *ngIf="url || file" [ngIfElse]="elseUrl">

                <ng-template [ngIf]="!uploaded">
                    <mat-list>
                        <h3 mat-subheader>Files</h3>
                        <mat-list-item>
                            <mat-icon mat-list-icon>
                                <img *ngIf="file" style="width: 50px; height: auto;  margin: 5px 0;"
                                    src="https://opus.devtaktika.com/storage/{{file}}" alt="">
                            </mat-icon>
                            <h4 mat-line></h4>
                            <button mat-raised-button color="warn" (click)="deleteFile()">Delete</button>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </ng-template>
                <ng-template [ngIf]="uploaded">
                    <mat-list>
                        <h3 mat-subheader>Files</h3>
                        <mat-list-item>
                            <mat-icon mat-list-icon>
                                <img *ngIf="file" style="width: 50px; height: auto;  margin: 5px 0;" [src]='url' alt="">
                            </mat-icon>
                            <h4 mat-line></h4>
                            <button mat-raised-button color="warn" (click)="deleteFile()">Delete</button>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                </ng-template>
            </div>
            <ng-template #elseUrl>

            </ng-template>

        </div>
        <button *ngIf="isAddMode" mat-raised-button color="primary" disabled={{storeDepartmentNgForm.invalid}}
            (click)="storeDepartmentfunc()">Add Department</button>
        <button *ngIf="!isAddMode" mat-raised-button color="primary" [disabled]="storeDepartment.disabled"
            (click)="editDepartmentFunc()">Edit Department</button>
    </div>
</form>
