.editbutton{
    padding: 4px 8px;
    color: #fff !important;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    display: block !important;
}
.editable_title_input:hover .editbutton{
    display: block!important;
}
.title_task_rwo{
    padding: 5px;
}
.editbutton:hover .title_task_rwo{
    border: 1px dotted #00000070;
}